<div class="container-fluid">
    <div class="about-header">
        <div class="row">
            <div class="col-md-12">
                <h3>About ggscrub.com</h3>
                <hr>
            </div>
        </div>
    </div>
    <div class="about-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Where is the store based?</h4>
                <p>We are based in the United States.</p>
                <h4>Where do you ship from?</h4>
                <p>That is not confirmed yet.</p>
            </div>

        </div>
    </div>
    <div class="about-footer">

    </div>



</div>

