<div class="container-fluid">
    <div class="accessories-content">
        <div class="accessories-header">
            <h3>Accessories</h3>
        </div>
        <div class="accessories-body"></div>
        <div class="accessories-footer"></div>

    </div>
</div>