<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="cart-container">
                <div class="cart-header">
                    <p>Your cart is currently empty. Browse store <a href="/">here</a>.</p>
                </div>
                <div class="cart-body">

                </div>
                <div class="cart-footer">

                </div>
            </div>
        </div>
    </div>
</div>