<div class="container-fluid">
    <div class="contactus-content">
        <div class="contactus-header">
            <h2>Contact Us</h2>
        </div>
        <div class="contactus-body">
            <h4>For all inquiries, questions and concerns, please email zsteven@ggscrub.com!</h4>
            <h4>Have a design you'd like to monetize with GGScrub.com?  Email zsteven@ggscrub.com for more details!</h4>

        </div>
        <div class="contactus-footer">

        </div>

    </div>

</div>