<div class="homeBlock">
    <h1 class="title">Welcome to ggscrub.com</h1>


    <div
            class="fb-like"
            data-share="true"
            data-width="200"
            data-show-faces="true">
    </div>

</div>