<div class="homeBlock">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="title">Welcome to ggscrub.com</h1>
            <img src="..." alt="..." class="img-thumbnail img-responsive">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">
            <img src="..." alt="..." class="img-thumbnail">





<!--    This is footer content that should be somehow transferred to
        a partial/second handlebar template -->

            <div class="row">
                <br>
                    <div
                            class="fb-like"
                            data-share="true"
                            data-width="200"
                            data-show-faces="true">
                    </div>
            </div>

        </div>
    </div>
</div>