<div id="wrapper">
    <div class="row">
        <div class="infoPaneA col-md-3 col-md-offset-2">
            <p>GGscrub gear for the competitive troll.  Check out exclusive cool swag made for toxic gamers.</p>
        </div>
        <div class="infoPaneB col-md-3 col-md-offset-2">
            <p>Check out the forums, and don't forget to post your favorite "GG, scrub" clips.</p>
        </div>
    </div>
</div>






<!-- figure out how to put this in the footer -->

<div class="footer">
    <br>
    <div
            class="fb-like"
            data-share="true"
            data-width="200"
            data-show-faces="true">
    </div>
</div>
