<div class='container-fluid'>
    <div class="home-content">
        <div class="home-header">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Homepage for GG scrub apparel and gear.  Check out below!</h3>
                </div>

            </div>
        </div>
        <div class="home-body">
            <div class="home-body-content">
                <div class="product-box">
                    <a href="/products/sample-item-1" class="product-link">
                        <div class="product-image">
                           <img src="img/blank-detail.jpg">
                        </div>
                        <div class="product-caption">
                            <p class="product-descriptor">Item #1 - A thing that things<br>$25</p>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a href="/products/sample-item-2" class="product-link">
                        <div class="product-image">
                            <img src="img/blank-detail.jpg">
                        </div>
                        <div class="product-caption">
                            <p class="product-descriptor">Item #2 - A thing that things<br>$55</p>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a href="#" class="product-link">
                        <div class="product-image">
                            <img src="img/blank-detail.jpg">
                        </div>
                        <div class="product-caption">
                            <p class="product-descriptor">Item #3 - A thing that things <br>$65</p>

                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a href="#" class="product-link">
                        <div class="product-image">
                            <img src="img/blank-detail.jpg">
                        </div>
                        <div class="product-caption">
                            <p class="product-descriptor">Item #4 - A thing that things <br>$65</p>

                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a href="#" class="product-link">
                        <div class="product-image">
                            <img src="img/blank-detail.jpg">
                        </div>
                        <div class="product-caption">
                            <p class="product-descriptor">Item #5 - A thing that things <br>$65</p>

                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a href="#" class="product-link">
                        <div class="product-image">
                            <img src="img/blank-detail.jpg">
                        </div>
                        <div class="product-caption">
                            <p class="product-descriptor">Item #6 - A thing that things <br>$65</p>

                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a href="#" class="product-link">
                        <div class="product-image">
                            <img src="img/blank-detail.jpg">
                        </div>
                        <div class="product-caption">
                            <p class="product-descriptor">Item #7 - A thing that things <br>$65</p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="home-footer">

        </div>
    </div>
</div>




