<div id="wrapper">
    <div class="row">
        <div class="infoPaneA col-md-3 col-md-offset-2">
            <p>GGscrub gear for the competitive troll.  Check out exclusive cool swag made for toxic gamers.</p>
        </div>
        <div class="infoPaneB col-md-3 col-md-offset-2">
            <p>Check out the forums, and don't forget to post your favorite "GG, scrub" clips.</p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="thumbnailPane">
                <img src="/img/item1.png" width="301" height="301" alt="item 1" title="item1" id="item1" />
                <img src="/img/blankimage1.png" width="301" height="301" alt="item 2" title="item2" id="item2" />
                <img src="/img/blankimage1.png" width="301" height="301" alt="item 3" title="item3" id="item3" />
                <img src="/img/blankimage1.png" width="301" height="301" alt="item 4" title="item4" id="item4" />
                <img src="/img/blankimage1.png" width="301" height="301" alt="item 5" title="item5" id="item5" />
                <img src="/img/blankimage1.png" width="301" height="301" alt="item 6" title="item6" id="item6" />




            </div>
        </div>
    </div>
    <div id="detailsPane">
        <div class = "row">
            <div class="col-md-4 col-md-offset-2">
                <img src="img/blank-detail.jpg" width="550" height="760" id="itemDetail" />
            </div>
            <div class="col-md-4">
                <div id="description">
                    <p>description would go here</p>
                </div>
            </div>

        </div>
    </div>


</div>








<!-- figure out how to put this in the footer -->

<div class="footer">
    <br>
    <div
            class="fb-like"
            data-share="true"
            data-width="200"
            data-show-faces="true">
    </div>
</div>
