<div class="container-fluid">
    <div class="jumbotron">
        <h2>Hoodies <small>Graphic Designs</small></h2>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #1 <span class="label label-default">New</span></h3></h3>
        </div>

        <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #2
                <span class="label label-danger">Hot
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                </span>
            </h3>
        </div>

        <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #3</h3>
        </div>

        <div class="col-md-2 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #4</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #5</h3>
        </div>

        <div class="col-md-2 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #6</h3>
        </div>

        <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #7</h3>
        </div>

        <div class="col-md-2 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-o">
            <img src="" class="img-responsive center-block" alt="undecided">
            <h3>Hoodie #8</h3>
        </div>
    </div>
</div>

