
<div class="row">
     <div class="col-md-6 col-md-offset-3">
         <div class="registrationBox">

             <h1>Register with GGscrub.com</h1>
             <p>Use Facebook?  Stream-line the login process by logging in with Facebook!</p>
             <ul>
                 <li class="logPage"><label for="username"><h5>Username:</h5></label>
                     <input type="text" value="" name="username" id="username">
                 </li>
                 <li class="logPage"><label for="password"><h5>Password:</h5></label>
                     <input type="password" value="" name="password" id="password">
                 </li>
                 <li class="logPage"><label for="firstname"><h5>First Name:</h5></label>
                     <input type="text" value="" name="firstname" id="firstname">
                 </li>
                 <li class="logPage"><label for="lastname"><h5>Last Name:</h5></label>
                     <input type="text" value="" name="lastname" id="lastname">
                 </li>
                 <li class="logPage"><label for="email"><h5>Email:</h5></label>
                     <input type="email" value="" name="email" id="email">
                 </li>
                 <li class="logPage">
                    <input type="submit" value="Register" name="register" id="register">
                 </li>
             </ul>
         </div>
     </div>
</div>