<div class="container-fluid">
    <div class="row">
         <div class="col-md-5 col-sm-6 col-md-offset-1">
             <div class="registrationBox">

                 <h1>Register <span class="small">with GGscrub.com</span></h1>
                 <section class="logPage-text">Create a new account here!  Use Facebook?  You can stream-line the login process by connecting to Facebook after!</section>
                 <ul class ="logPage-ul">
                     <li class="logPage"><label for="username"><h5>Username:</h5></label>
                         <input type="text" value="" name="username" id="username"><label id="usernameEx">
                         </label>
                     </li>
                     <li class="logPage"><label for="password"><h5>Password:</h5></label>
                         <input type="password" value="" name="password" id="password"><label id="passwordEx">
                         </label>
                     </li>
                     <li class="logPage"><label for="firstname"><h5>First Name:</h5></label>
                         <input type="text" value="" name="firstname" id="firstname"><label id="firstnameEx">
                         </label>
                     </li>
                     <li class="logPage"><label for="lastname"><h5>Last Name:</h5></label>
                         <input type="text" value="" name="lastname" id="lastname"><label id="lastnameEx">
                         </label>
                     </li>
                     <li class="logPage"><label for="email"><h5>Email:</h5></label>
                         <input type="email" value="" name="email" id="email"><label id="emailEx">
                         </label>
                     </li>
                     <li class="logPage">
                        <input type="submit" value="Register" name="register" id="register">
                        <label for="register" id="registerTooltip"><h6>Please fill in all fields.</h6></label>
                     </li>
                 </ul>
             </div>
         </div>
         <div class="col-md-5 col-sm-6">
             <div class="loginBox">
                 <h1>Login</h1>
                 <section class="logPage-text">Already have an account? Login with your registered username and password.</section>
                 <ul class="logPage-ul">
                     <li class="logPage">
                         <label for="usernameLogin"><h5>Username:</h5></label>
                         <input type="text" value="" name="usernameLogin" id="usernameLogin">
                     </li>
                     <li class="logPage">
                        <label for="passwordLogin"><h5>Password:</h5></label>
                        <input type="password" value="" name="passwordLogin" id="passwordLogin">
                     </li>

                     <li class="logPage">
                         <input type="submit" value="Login" name="siteLogin" id="siteLogin">
                         <label for="siteLogin" id="loginTooltip"><h6>Please fill in all fields.</h6></label>
                     </li>
                 </ul>
             </div>
         </div>
    </div>
</div>
