<div class="registering-wrapper">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="registering-main jumbotron">
                <h1>Registration is submitted!</h1>
                <p>To complete registration, check your mailbox for an email from ggscrub@gmail.com and
                    follow the confirm link.</p>
                <br>
                <h5>Not seeing the email?  Press below to have the confirmation link sent again.</h5>
                <p><a class="btn btn-default btn-sm" href="#" role="button">Re-send Link</a></p>
            </div>
        </div>
    </div>
</div>