<div class="registering-wrapper">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="registering-main jumbotron">
                <h1>Registration is submitted!</h1>
                <p>An email has been sent to your email address as notification of the new account.  Please click the link to continue back to <a href="/">GGscrub.com.</a></p>
                <br>
                <h5>Not seeing the email?  Please contact support for more help.</h5>
                <p><a class="btn btn-default btn-sm" href="#" role="button">Re-send Link</a></p>
            </div>
        </div>
    </div>
</div>