.jumbotron {
    margin: 0px;
}

.navbar {
    margin: 0px;
}

.navbar-default {
    margin: 0px;
}

.container-fluid {
    margin:0px;
}

.title {

    color: green;

}

p {
    color: green;
}
.jumbotronTitle {
    color: green;
    text-decoration:none;
}

.jumbotronTitle:hover {
    color: green;
    text-decoration:none;
}

.jumbotronTitle:visited {
    color: green;
    text-decoration:none;
}

#wrapper {
margin-top:100px;
}

#thumbnailPane {
margin-top:50px;
}

.footer {
text-align:center;
}

#detailsPane {
margin-top:50px;
border: solid;
border-width: 10px;
background: white;
}

#itemDetail {
border: solid;
border-width: 0px 5px 0 5px;
}
#description {
border:solid;
border-width:10px;
}

.logPage {
list-style:none;
margin: 0px;
}
.registrationBox {
    background: white;
    border-width:5px;
    border-style: solid;
    margin-top:20px;
    padding: 40px 40px 40px 40px;
}

#username {
background: #fff url('../img/status.gif') 202px 0 no-repeat;
padding:0 20px 0 2px;
width: 198px;
}
#username.thinking {
background-position: 202px -19px;
}
#username.approved {
background-position: 202px -35px;
}
#username.denied {
background-color: #FF8282;
background-position: 202px -52px;
}