.jumbotron {
    margin: 0px;
}

.navbar {
    margin: 0px;
}

.navbar-default {
    margin: 0px;
}

.container-fluid {
    margin:0px;
}

.title {

    color: green;

}

p {
    color: green;
}
.jumbotronTitle {
    color: green;
    text-decoration:none;
}

.jumbotronTitle:hover {
    color: green;
    text-decoration:none;
}

.jumbotronTitle:visited {
    color: green;
    text-decoration:none;
}
.homeBlock {
    text-align: center;
}