.jumbotron {
    margin: 0px;
}

.navbar {
    margin: 0px;
}

.navbar-default {
    margin: 0px;
}

.container-fluid {
    margin:0px;
}

.title {

    color: green;

}

p {
    color: green;
}
.jumbotronTitle {
    color: green;
    text-decoration:none;
}

.jumbotronTitle:hover {
    color: green;
    text-decoration:none;
}

.jumbotronTitle:visited {
    color: green;
    text-decoration:none;
}

#wrapper {
margin-top:100px;
}

#thumbnailPane {
margin-top:50px;
}

.footer {
text-align:center;
}

#detailsPane {
margin-top:50px;
border: solid;
border-width: 10px;
background: white;
}

#itemDetail {
border: solid;
border-width: 0px 5px 0 5px;
}
#description {
border:solid;
border-width:10px;
}