<div class="container-fluid">
    <div class="item-main">
        <div class="item-header">

        </div>
        <div class="item-body container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="item-body-image">
                        <img src="img/products/beatsbydre.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item-body-form">
                    <!-- <form action="/cart/add" method="post" id="add-cart-form" class="product-form"> -->

                        <div class="item-body-name">
                            <h3>Sample Item #1</h3>
                        </div>
                        <div class="item-body-price">
                            <h5>$25.00</h5>
                        </div>
                        <hr>

                        <div class="item-body-color">
                            <label class='product-label' for="product-style-select"><h6>Style/Color</h6></label>

                            <select class='product-select' id="product-style-select">
                                <option value="1"><a href="?variant1">Option 1</a></option>
                                <option value="2"><a href="?variant2">Option 2</a></option>
                                <option value="3"><a href="?variant3">Option 3</a></option>
                            </select>
                        </div>
                        <div class="item-body-size">
                            <label class='product-label' for="product-size-select"><h6>Size</h6></label>

                            <select class='product-select' id="product-size-select">
                                <option value="xs">Extra Small</option>
                                <option value="s">Small</option>
                                <option value="m">Medium</option>
                            </select>
                        </div>
                        <div class="item-body-quantity">
                            <label class='product-label' for="product-client-qty"><h6>Quantity</h6></label>

                            <input id="product-client-qty" value="0" />
                            <button class="btn btn-default btn-xs" id="product-client-qty-down" onclick="modifyClientQty(-1)">-1</button>
                            <button class="btn btn-default btn-xs" id="product-client-qty-up" onclick="modifyClientQty(1)">+1</button>
                        </div>
                        <hr>
                        <div class="item-body-subtotal">
                            <h5>Subtotal: $0.00</h5>
                        </div>
                        <div class="item-add-cart">
                            <button class="btn btn-primary" id="product-add-cart-button">Add to Cart</button>
                        </div>
                        <hr>
                        <div class="item-body-details">
                            <h6><strong>Details</strong><br>This is example text representative of future product text, images, etc....</h6>
                        </div>

                    <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="item-footer">

        </div>
    </div>
</div>