<div class="container-fluid">
    <div class="item-main">
        <div class="item-header">

        </div>
        <div class="item-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="item-body-image">
                        <img src="">
                        <p>The image side of things.Not that this is not enough space but what is going on with this spacing this should reach the midpoint of the page.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item-body-name">
                        <h5>Sample Item #1</h5>
                    </div>
                    <div class="item-body-price">
                        <h6>$25.00</h6>
                    </div>
                    <hr>
                    <div class="item-body-color">
                        <h6>Style/Color</h6>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Option 1
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="?variant1">Option 1</a></li>
                                <li><a href="?variant2">Option 2</a></li>
                                <li><a href="?variant3">Option 3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-body-quantity">

                    </div>
                    <hr>
                    <div class="item-body-subtotal">
                        <h6>Subtotal: $0.00</h6>
                    </div>
                    <div class="item-body-details">
                        <h6><strong>Details</strong><br>This is example text representative of future product text, images, etc....</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-footer">

        </div>
    </div>
</div>